.info {
    height: 600px;
    width: 500px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn {
    padding: 10px;
    border-radius: 10px;
    background-color: cadetblue;
    border: none;
    margin: 5px;
    cursor: pointer;
}